<a href="https://colab.research.google.com/github/cila-henriques/projeto.python.soulcode/blob/main/1_python__001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print

In [1]:
print('Olá Mundo')

Olá Mundo

Imprima a frase Escola de Dados da Alura!.

In [2]:
print("Escola de Dados da Alura!")

Escola de Dados da Alura!

Imprima seu nome e seu sobrenome seguindo a estrutura abaixo:

In [3]:
print("Priscila Ribeiro")

Priscila Ribeiro

Imprima o seu primeiro nome letra a letra. Por exemplo, meu nome é Mirla, então eu obtenho a seguinte saída:

In [7]:
print("Priscila \n")
print("Ribeiro \n")
print("P\nr\ni\ns\nc\ni\nl\na")

Priscila

Ribeiro

P
r
i
s
c
i
l
a

Imprima o dia do seu nascimento em formato dia mês ano. Lembrando que os valores de dia e ano não podem estar entre aspas. Supondo uma data de aniversário dia 28 de fevereiro de 2003, o formato deve estar como no exemplo abaixo:

In [8]:
print('Ano atual: 11/08/1990')

Ano atual: 11/08/1990

# Comentários de uma linha

In [16]:
# Esse é um comentário de uma linha

'''
Esse é um comentário
de várias linhas.

'''

' \nEsse é um comentário\nde várias linhas.\n\n'

# Markdown
é uma formatação de texto por marcação (markup) que permite escrever de forma simples e fácil de ler. Ele permite adicionar formatação ao texto sem precisar escrever um código em HTML ou outra linguagem de formatação mais complexa.

# Cabeçalho de nível 1
## Cabeçalho de nível 2
### Cabeçalho de nível 3

# Negrito e itálico

**Texto em negrito**

*Texto em itálico*

***Texto em negrito e itálico***

* Item 1
* Item 2
* Item 3

1. Item 1
2. Item 2
3. Item 3

[site](wwww.teste.com)

# Comandos

1. Shift + Enter = Espaço e Execução

# Variáveis     
## Nome das variáves nao podem ser escritas


*   Nomes que começam com número
Exemplos: 10_notas

*   Palavras separadas por espaço
Exemplos: nome escola

*   Nomes de Funções do Python
Exemplo: prinnt, type etc..

## Case sensitive


*   *Idade* é diferente de *idade*

## Tipos de Dados

*   int Exemplo: 3
*   float Exemplo: 3.14
*   str Exemplo: Olá
*   bool Exemplo: True ou False

In [26]:
idade = 5

In [27]:
print(idade)

5

In [29]:
nome = 'Gabriel'
print(nome)

Gabriel

In [30]:
i = 5
type(i)

int

In [31]:
f = 9.8
type(f)

float

In [33]:
b = True
type(b)

bool

Cinco pessoas trabalham como seguranças e recebem um salário de 3 mil reais. Dezesseis pessoas trabalham como docentes e recebem um salário de 6 mil reais. Por fim, temos uma pessoa que trabalha na diretoria e seu salário é de 12 mil e 500 reais.

Precisamos trabalhar com esses dados fornecendo:

* A quantidade total de empregados;
* A diferença entre o salário mais baixo e mais alto;
* A média ponderada da faixa salarial da escola.

In [42]:
segurancaQuantidade = 22
segurancaSalario = 3.000
docenteQuantidade = 1
docenteSalario = 6.000
diretoriaQuantidade = 1
diretoriaSalario = 12.000

difMaxMin= (diretoriaSalario - segurancaSalario)
#print(type(difMaxMin))
print('Diferença de valor: ', difMaxMin)

Diferença de valor:  9.0